In [1]:
print("Hello")

Hello

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("police_deaths_USA_v6.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25623 entries, 0 to 25622
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          25623 non-null  object
 1   Name          25623 non-null  object
 2   Age           22946 non-null  float64
 3   End_Of_Watch  25623 non-null  object
 4   Day_Of_Week   25623 non-null  object
 5   Cause         25622 non-null  object
 6   Department    25623 non-null  object
 7   State         25623 non-null  object
 8   Tour          17417 non-null  object
 9   Badge         7477 non-null   object
 10  Weapon        16263 non-null  object
 11  Offender      13803 non-null  object
 12  Summary       25623 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.5+ MB

In [6]:
df.head(20)
df.groupby('State')['State'].count()

State
Alabama                      609
Alaska                        49
American Samoa                 3
Arizona                      280
Arkansas                     347
California                  1696
Colorado                     342
Connecticut                  156
Delaware                      47
District of Columbia         132
Florida                      920
Georgia                      837
Guam                          14
Hawaii                        57
Idaho                         69
Illinois                    1147
Indiana                      461
Iowa                         213
Kansas                       281
Kentucky                     935
Louisiana                    545
Maine                         92
Maryland                     329
Massachusetts                398
Michigan                     636
Minnesota                    258
Mississippi                  319
Missouri                     714
Montana                      129
Nebraska                     118
Nevada                       131
New Hampshire                 51
New Jersey                   529
New Mexico                   172
New York                    1865
North Carolina               624
North Dakota                  58
Northern Mariana Islands       3
Ohio                         890
Oklahoma                     542
Oregon                       187
Panama Canal Zone              3
Pennsylvania                1079
Puerto Rico                  396
Rhode Island                  52
South Carolina               414
South Dakota                  55
Tennessee                    715
Texas                       2182
United States               1953
Utah                         130
Vermont                       28
Virgin Islands                13
Virginia                     524
Washington                   313
West Virginia                225
Wisconsin                    296
Wyoming                       60
Name: State, dtype: int64

In [ ]:
df.groupby('Cause').size().sort_values(ascending=False)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2308209579.py, line 3)

In [ ]:
df.groupby('Weapon').size().sort_values(ascending=False)

In [25]:
#df.groupby('Day_Of_Week').size().sort_values( 'Day_Of_Week', ascending = False)
df.groupby('Day_Of_Week').size().reset_index(name='Count').sort_values('Day_Of_Week', ascending=False)

  Day_Of_Week  Count
6   Wednesday   3464
5     Tuesday   3517
4    Thursday   3620
3      Sunday   3765
2    Saturday   4002
1      Monday   3515
0      Friday   3740